.grigliaReverse {
  display: flex;
  flex-wrap: wrap;
}

.text-box-reverse, .image-box-reverse {
  flex: 1 1 50%;
  box-sizing: border-box;
  height: 400px;
}

.text-box-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 40px;
  background-color: #d9d3c7;
  order: 2;
}

.image-box-reverse {
  order: 1;
  overflow: hidden;
  display: block;
	background-size: cover;
}


@media (max-width: 768px) {
  .text-box-reverse, .image-box-reverse {
	flex: 1 1 100%;
  }

  /* Inversione ordine su mobile */
  .text-box-reverse {
	order: 1;
  }

  .image-box-reverse {
	order: 2;
  }
}
